:root{
    --cor1: #E50914;
    --cor2: #141414;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Elementos bases*/
body{
    background: var(--cor2);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    margin-left: 10px;
    color: var(--cor1);
    font-family: Arial Black, Helvetica, sans-serif;
    font-size: 30px;
}
header nav a{
    text-decoration: none;
    color: rgb(184, 140, 140);
    margin-right:10px;
}
header nav a:hover{
    color: white;
    cursor: pointer;
}
/*Anime principal*/
.animePrincipal{
    font-size: 18px;
    background: linear-gradient(rgba(0,0,0, 0.50),rgba(0,0,0, 0.50)100%), url("../recursos/capa-dragon-ball-z.jpg");   
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.animePrincipal .descricao{
    margin-bottom: 40px;
    margin-top: 10px;
}
.titulo{
    margin-top: 15%;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.botao{
    background-color: rgba(0, 0, 0, 0.50);
    border: none;
    color: white;
    padding: 10px 30px;
    margin-right: 15px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    transition: .5s ease all;
}
.botao:hover{
    background-color: white;
    color: black;
}
.botao i{
    margin-right: 15px;
}
.container{
    margin-left: 20px;
}
.animePrincipal .container{
    width: 70%;
}
/*Imagens do carrosel*/
.boxAnime{
    height: 100%;
    width: 100%;
    display: block;
}
.carroselAnime{
    margin-top: 10px;
}
/*rodapé*/
footer{
    border-top: dotted;
    margin-top: 5px;
    height: 70px;
}
footer p{
    margin: 30px;
    text-align: center;
    font-size: 15px;
}